{% extends 'layout.html' %}
{% block titulo %} ADMINISTRADOR {% endblock %}
{% block contenido  %}
<nav class="navbar navbar-expand-lg sticky-top shadow-sm" style="background-color: #1e1e2f;">
  <div class="container-fluid d-flex justify-content-between align-items-center">

 
    <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentAdmin" aria-controls="navbarSupportedContentAdmin" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    

    <div class="collapse navbar-collapse" id="navbarSupportedContentAdmin">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white active" href="/home-admin">
            <i class="fa-solid fa-house fa-bounce"></i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Operaciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/sUsuario">Usuarios</a></li>
            <li><a class="dropdown-item" href="/sProductos">Productos</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled text-white-50" aria-disabled="true"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white">{{ current_user.nombre }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/signout">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </li>
      </ul>


    </div>
  </div>
</nav>




{% endblock %}